root: true
env:
  browser: true,
  node: true,
  jest: true
settings:
  react:
    version: detect
parser: babel-eslint
extends:
- plugin:prettier/recommended
- plugin:react/recommended
- eslint-config-sorcerers
rules:
  react/prefer-stateless-function: 2
  no-console: 2
  import/extensions:
    - 2
    - json: always
      js: never
      validation: always
      task: always
      svg: always
      mdx: always
